<!DOCTYPE html>
<html lang="es/ES">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="top-header">
        <div class="logo-mas-buscador">
          <div class="logo">
            <a href="/">
              <img
                class="logo-mercadolibre"
                src="images/logo-mercado-liebre.svg"
                alt="Logo de MercadoLiebre"
              />
            </a>
          </div>
          <form class="form" action="/" method="GET">
            <div class="input">
              <input
                type="text"
                class="buscar-productos"
                placeholder="Buscar productos y marcas"
              />
              <i class="fa fa-search submit"></i>
            </div>
          </form>
        </div>
        <p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <nav class="navegadores">
        <ul class="primer-nav">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="segundo-nav">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </header>
    <section class="banner">
      <img src="images/img-home-banner.jpg" alt="Banner de ofertas" />
    </section>
    <main>
      <section class="last-visit">
        <h3>Basado en tu última visita</h3>
        <div class="products">
          <article>
            <img
              src="images/img-cafetera-moulinex.jpg"
              alt="Cafetera"
              class="product_img"
            />
            <div class="main-article">
              <i class="fas fa-truck auto-envio"></i>
              <div class="precio-mas-descuento">
                <p class="price">$6.770</p>
                <p class="discount">40% off</p>
              </div>
              <h4 class="description">Cafetera Moulinex</h4>
            </div>
          </article>
          <article>
            <img
              src="images/img-macbook-pro-2019.jpg"
              alt="MacBook"
              class="product_img"
            />
            <div class="main-article">
              <i class="fas fa-truck auto-envio"></i>
              <div class="precio-mas-descuento">
                <p class="price">$230.000</p>
                <p class="discount">20% off</p>
              </div>
              <h4 class="description">MacBook Pro 2019</h4>
            </div>
          </article>
          <article>
            <img
              src="images/img-samsung-galaxy-s10.jpg"
              alt="Teléfono Móvil Samsung Galaxy"
              class="product_img"
            />
            <div class="main-article">
              <i class="fas fa-truck auto-envio"></i>
              <div class="precio-mas-descuento">
                <p class="price">$70.500</p>
                <p class="discount">10% off</p>
              </div>
              <h4 class="description">Samsung Galaxy S10</h4>
            </div>
          </article>
          <article>
            <img
              src="images/img-tv-samsung-smart.jpg"
              alt="SmartTv Samsung"
              class="product_img"
            />
            <div class="main-article">
              <i class="fas fa-truck auto-envio"></i>
              <div class="precio-mas-descuento">
                <p class="price">$23.200</p>
                <p class="discount">5% off</p>
              </div>
              <h4 class="description">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </div>
      </section>
      <section class="offers">
        <h3>Ofertas</h3>
        <div class="products">
          <article>
            <img
              src="images/img-cafetera-moulinex.jpg"
              alt="Cafetera"
              class="product_img"
            />
            <div class="main-article">
              <i class="fas fa-truck auto-envio"></i>
              <div class="precio-mas-descuento">
                <p class="price">$6.770</p>
                <p class="discount">40% off</p>
              </div>
              <h4 class="description">Cafetera Moulinex</h4>
            </div>
          </article>
          <article>
            <img
              src="images/img-macbook-pro-2019.jpg"
              alt="MacBook"
              class="product_img"
            />
            <div class="main-article">
              <i class="fas fa-truck auto-envio"></i>
              <div class="precio-mas-descuento">
                <p class="price">$230.000</p>
                <p class="discount">20% off</p>
              </div>
              <h4 class="description">MacBook Pro 2019</h4>
            </div>
          </article>
          <article>
            <img
              src="images/img-samsung-galaxy-s10.jpg"
              alt="Teléfono Móvil Samsung Galaxy"
              class="product_img"
            />
            <div class="main-article">
              <i class="fas fa-truck auto-envio"></i>
              <div class="precio-mas-descuento">
                <p class="price">$70.500</p>
                <p class="discount">10% off</p>
              </div>
              <h4 class="description">Samsung Galaxy S10</h4>
            </div>
          </article>
          <article>
            <img
              src="images/img-tv-samsung-smart.jpg"
              alt="SmartTv Samsung"
              class="product_img"
            />
            <div class="main-article">
              <i class="fas fa-truck auto-envio"></i>
              <div class="precio-mas-descuento">
                <p class="price">$23.200</p>
                <p class="discount">5% off</p>
              </div>
              <h4 class="description">SmartTv Samsung 43"</h4>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <section>
        <div><i class="fas fa-credit-card"></i></div>
        <h5>Paga con tarjeta o en efectivo</h5>
        <p>
          Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

      <section>
        <div><i class="fas fa-gift"></i></div>
        <h5>Envío gratis desde los $2.500</h5>
        <p>
          Solo por estar registrado en Mercado Liebre tenes envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>

      <section>
        <div><i class="fas fa-user-shield"></i></div>
        <h5>Seguridad de principio a fin</h5>
        <p>
          ¿No te gusta ? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
          hacer porque estas siempre protegido.
        </p>
      </section>
    </footer>

    <section>
      <p class="copyright">Copyright © 1999 MercadoLiebre S.R.L</p>
    </section>
  </body>
</html>
